<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Custom Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
  <style type="text/css">.ckeg3eofe00003r676y8t3r00:hover {background:#ddd !important;}</style><style data-styled-components=""></style>
  <style>
  
  	body{
  		background-color: #3e3e3e;
  		color: white;
  	}
  
  </style>
  </head>
  <body>
     <div class="container">
      <form class="form-signin" method="post" action="/loginBrowser">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
          <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <p>
          Remember me?
          <input type="checkbox" id="remember-me" name="remember-me" class="form-control">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div>
<button id="tw_schedule_btn" style="padding: 4px 6px; position: absolute; left: 141px; top: 840px; background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240)); border: 1px solid rgb(204, 204, 204); color: rgb(95, 95, 95); cursor: pointer; font-weight: bold; text-shadow: rgb(255, 255, 255) 0px 1px; white-space: nowrap; border-radius: 3px; font-size: 11px; z-index: 8675309; display: none;"><em id="schedule-button-logo" style="background-image: url(&quot;https://www.tailwindapp.com/app/extensions/Tailwind_swoosh.png&quot;); width: 16px; height: 16px; margin-top: -4px; display: inline-block; position: relative; vertical-align: middle; background-size: 16px;"></em><span>Schedule</span></button></body><script async="" src="https://www.google-analytics.com/analytics.js"></script></html>